<%= form_with(model: tally, local: true) do |form| %>
  <% if tally.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tally.errors.count, "error") %> prohibited this tally from being saved:</h2>

      <ul>
      <% tally.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
