<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @tally.member %>
</p>

<p>
  <strong>Task:</strong>
  <%= @tally.task %>
</p>

<%= link_to 'Edit', edit_tally_path(@tally) %> |
<%= link_to 'Back', tallies_path %>
