<p id="notice"><%= notice %></p>
<h1>Member Tally</h1>
<p>
  <strong>Member #</strong>
  <%= @member.number %>
</p>

<p>

  <strong>Tally</strong>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <% @member.tasks.each do |task| %>  
        <tr>
          <td><%= task.name %></td>
          <td><%= task.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Back', members_path %>


<p id="notice"><%= notice %></p>

